<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhx.sikasoftware.mapper.machine.MachineryMapper">
    <select id="selectAllMachine" resultType="com.zhx.sikasoftware.dto.MachineryDo">
        select m_id, m_name, m_type, m_model, purchaser, purchaser_date, picture
        from machinery
        where del_flag = 0
    </select>

    <select id="selectOneMachine" resultType="com.zhx.sikasoftware.dto.MachineryDo">
        select m_id, m_name, m_type, m_model, purchaser, purchaser_date, picture
        from machinery
        where m_id = #{mId}
          AND del_flag = 0
    </select>

    <select id="pageSearch" resultType="com.zhx.sikasoftware.dto.MachineryDo">
        select m_id, m_name, m_type, m_model, purchaser, purchaser_date, picture
        from machinery
        where del_flag = 0
        <if test=" searchStr != null and searchStr != '' ">
            and purchaser = #{searchStr}
        </if>
            limit #{page},#{pageSize}
    </select>

    <select id="countSearch" resultType="java.lang.Integer">
        select count(*)
        from machinery
        where del_flag = 0
        <if test=" searchStr != null and searchStr != '' ">
            and purchaser = #{searchStr}
        </if>
    </select>

    <select id="pageSelect" resultType="com.zhx.sikasoftware.dto.MachineryDo">
        select m_id,m_name,m_type,m_model,purchaser,purchaser_date,picture
        from machinery where del_flag = 0
        limit #{page},#{pageSize}
    </select>


    <select id="countAll" resultType="java.lang.Integer">
        select count(*)
        from machinery
        where del_flag = 0
    </select>


    <insert id="insertMachine" parameterType="com.zhx.sikasoftware.bean.Machinery">
        insert into machinery(m_name, m_type, m_model, purchaser,
                              purchaser_date, purchaser_price, contract_number, provider, picture,
                              office_id, del_flag, remark, creator, modifier)
        values (#{mName}, #{mType}, #{mModel}, #{purchaser},
                #{purchaserDate}, #{purchaserPrice}
                   , #{contractNumber}, #{provider}, #{picture},
                #{officeId}, #{delFlag},
                #{remark}, #{creator},
                #{modifier})
    </insert>

    <update id="updateMachine" parameterType="com.zhx.sikasoftware.bean.Machinery">
        update machinery
        <set>
            <if test="mName != null">m_name=#{mName},</if>
            <if test="mType != null">m_type=#{mType},</if>
            <if test="mModel != null">m_model=#{mModel},</if>
            <if test="purchaser != null">purchaser=#{purchaser},</if>
            <if test="purchaserDate != null">purchaser_date=#{purchaserDate},</if>
            <if test="purchaserPrice != null">purchaser_price=#{purchaserPrice},</if>
            <if test="contractNumber != null">contract_number=#{contractNumber},</if>
            <if test="provider != null">provider=#{provider},</if>
            <if test="picture != null">picture=#{picture},</if>
            <if test="officeId != null">office_id=#{officeId},</if>
            <if test="delFlag != null">del_flag=#{delFlag},</if>
            <if test="remark != null">remark=#{remark},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
            <if test="modifyTime != null">modify_time=#{modifyTime}</if>
        </set>
        where m_id = #{mId}
    </update>

    <update id="deleteMachine">
        update machinery
        set del_flag = 1
        where m_id = #{mId}
    </update>

</mapper>